name: "Black"

on:
  pull_request:
  push:
    branches:
      - main
jobs:
  black:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tool: ["black", "isort"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          allow-prereleases: true
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[formatting]
      - name: ${{ matrix.tool }} Code Formatter
        run: |
          ${{ matrix.tool }} . --check
